In [25]:
# modules we'll use
import pandas as pd
import numpy as np

In [26]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [27]:
# read our data
companies_data = pd.read_csv("/content/drive/MyDrive/companies.csv")
companies_data.head()

,id,Unnamed: 0.1,entity_type,entity_id,parent_id,name,normalized_name,permalink,category_code,status,...,first_milestone_at,last_milestone_at,milestones,relationships,created_by,created_at,updated_at,lat,lng,ROI
0,c:1,0,Company,1,NaN,Wetpaint,wetpaint,/company/wetpaint,web,operating,...,2010-09-05,2013-09-18,5.0,17.0,initial-importer,2007-05-25 06:51:27,2013-04-13 03:29:00,47.606209,-122.332071,15.5
1,c:10,1,Company,10,NaN,Flektor,flektor,/company/flektor,games_video,acquired,...,NaN,NaN,NaN,6.0,initial-importer,2007-05-31 21:11:51,2008-05-23 23:23:14,34.021122,-118.396467,NaN
2,c:100,2,Company,100,NaN,There,there,/company/there,games_video,acquired,...,2003-02-01,2011-09-23,4.0,12.0,initial-importer,2007-08-06 23:52:45,2013-11-04 02:09:48,37.562992,-122.325525,NaN
3,c:10000,3,Company,10000,NaN,MYWEBBO,mywebbo,/company/mywebbo,network_hosting,operating,...,NaN,NaN,NaN,NaN,NaN,2008-08-24 16:51:57,2008-09-06 14:19:18,NaN,NaN,NaN
4,c:10001,4,Company,10001,NaN,THE Movie Streamer,the movie streamer,/company/the-movie-streamer,games_video,operating,...,NaN,NaN,NaN,NaN,NaN,2008-08-24 17:10:34,2008-09-06 14:19:18,NaN,NaN,NaN

In [28]:
# get the number of missing data points per column
missing_values_count = companies_data.isnull().sum()

# look at the # of missing points in the first ten columns
missing_values_count

id                          0
Unnamed: 0.1                0
entity_type                 0
entity_id                   0
parent_id              196553
name                       22
normalized_name            26
permalink                   0
category_code           73367
status                      0
founded_at             105326
closed_at              193933
domain                  70008
homepage_url            70008
twitter_username       115962
logo_url                86443
logo_width              86443
logo_height             86443
short_description      189422
description            104505
overview                69582
tag_list               115101
country_code           108563
state_code             145650
city                   112663
region                      0
first_investment_at    193970
last_investment_at     193970
investment_rounds      193962
invested_companies     193962
first_funding_at       165046
last_funding_at        165046
funding_rounds         164846
funding_total_usd      168679
first_milestone_at     104854
last_milestone_at      104854
milestones             104854
relationships           66886
created_by              41020
created_at                  0
updated_at                  0
lat                    112701
lng                    112701
ROI                    195827
dtype: int64

In [29]:
# how many total missing values do we have?
total_cells = np.product(companies_data.shape)
total_missing = missing_values_count.sum()

# percent of data that is missing
percent_missing = (total_missing/total_cells) * 100
print(percent_missing)

48.71688552197117

Now we have about 50% of the dataset containing empty cells .

In [30]:
# List of column names to drop
columns_to_drop = ['parent_id', 'first_investment_at', 'last_investment_at', 'investment_rounds', 'invested_companies', 'first_funding_at', 'last_funding_at', 'funding_rounds', 'funding_total_usd', 'first_milestone_at', 'last_milestone_at', 'milestones', 'relationships', 'entity_id', 'entity_type', 'city', 'founded_at', 'closed_at', 'logo_width', 'logo_height', 'short_description', 'description', 'overview', 'tag_list', 'country_code']
# Drop the specified columns
companies_data.drop(columns=columns_to_drop, inplace=True)

In [33]:
#companies_data.head()

In [51]:
companies_data

,name,status,region,created_at,updated_at
0,Wetpaint,operating,Seattle,2007-05-25 06:51:27,2013-04-13 03:29:00
1,Flektor,acquired,Los Angeles,2007-05-31 21:11:51,2008-05-23 23:23:14
2,There,acquired,SF Bay,2007-08-06 23:52:45,2013-11-04 02:09:48
3,MYWEBBO,operating,unknown,2008-08-24 16:51:57,2008-09-06 14:19:18
4,THE Movie Streamer,operating,unknown,2008-08-24 17:10:34,2008-09-06 14:19:18
...,...,...,...,...,...
196548,Webgility,operating,SF Bay,2011-09-06 23:17:56,2013-08-13 00:39:13
196549,FohBoh,operating,SF Bay,2008-08-24 15:46:26,2013-06-28 20:55:30
196550,CSC,operating,Washington DC,2008-08-24 15:46:58,2013-06-28 20:52:01
196551,Top-candidate,operating,Los Angeles,2008-08-24 16:00:22,2013-06-28 20:56:44
196552,Closet Couture,operating,Pacific Palisades,2008-08-24 16:46:13,2013-03-23 12:01:50

In [50]:
#columns_to_drop = ['id', 'Unnamed: 0.1','permalink', 'normalized_name']
#columns_to_drop = ['permalink', 'normalized_name']
#columns_to_drop = ['category_code', 'domain', 'homepage_url', 'twitter_username', 'logo_url', 'state_code']
#columns_to_drop = ['ROI']
#columns_to_drop = ['lat', 'lng']
#columns_to_drop = ['created_by']
companies_data.drop(columns=columns_to_drop, inplace=True)

In [44]:
date_lengths = companies_data.created_at.str.len()
date_lengths.value_counts()

19    196553
Name: created_at, dtype: int64

In [45]:
date_lengths = companies_data.updated_at.str.len()
date_lengths.value_counts()

19    196553
Name: updated_at, dtype: int64